{% extends "journal_application/base_template.html" %}

{% block content %}
<h1>Welcome to the Notebook Application</h1>

<h2>All Notebooks:</h2>
<ul class="list-group">
    {% for book in notebooks.all %}
    <li class="list-group-item">Title: {{ book.notebook.title }}
        <p><strong>Notebook:{{ book.notebook.title }}
            <a class="btn btn-primary" href="{{ book.notebook.get_absolute_url }}" role="button">View</a>
        
    {%endfor%}
</ul>
<a href="{% url 'create_notebook' %}" class="btn btn-primary">Create New Notebook</a>
{% endblock %}