{% extends 'journal_application/base_template.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Update Canvas</h2>

    <form action="" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field.errors.as_text }}
            <!-- Display field errors -->
            {{ field }}
            <!-- This will render each field -->
        </div>
        {% endfor %}

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}